.container {
    margin: 250px;
    background-color: rgb(240, 41, 15);
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.block {
    width: 150px;
    height: 80px;
    background-color: rgb(243, 94, 44);
    margin: 35px;
    padding: 30px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 24px;
    position: flex;
    flex-direction: column;
    top: 10%
}

.like {
    width: 60px;
    height: 20px;
    border-radius: 6px;
    background-color: white;
    ;
}

.main-block {
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background-color: rgb(243, 94, 44);
    font-family: "Montserrat";
    font-style: normal;
    font-size: 24px;
}

.follow {
    width: 70px;
    height: 20px;
    border-radius: 6px;
    background-color: white;
}

.message {
    width: 80px;
    height: 20px;
    border-radius: 6px;
    background-color: white;
}